<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue test</title>
  </head>
  <body>
    <div id="app">
      <div>
        <label for="first-name">first name: </label>
        <input name="first-name" type="text" v-model="firstName" style="margin-right: 5px;" /> <br />
        <label for="last-name">last name: </label>
        <input name="last-name" type="text" v-model="lastName" />
      </div>
      full name: {{ fullName }}
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const app = {
        data() {
          return {
            firstName: '',
            lastName: ''
          };
        },
        computed: {
          fullName() {
            return `${this.firstName} ${this.lastName}`;
          },
        },
      };

      Vue.createApp(app).mount('#app');
    </script>
  </body>
</html>
